@using StudentLinkUp_MVC_.Models
@{
    Layout = null;
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body id="home-body">
    <div id="home-wrapper">
        <section id="linkup-logo" align="left">

        </section>
        <section id="icon-navigation">

        </section>
    </div>
</body>
</html>
