@{
    ViewBag.Title = "Home Page";
}

<body id="home-body">
    <div id="home-wrapper">
        <sidebar id="linkup-logo">
            <h3 id="welcome">Welcome To</h3>
            <h1 id="student">Student</h1>
            <h1 id="linkup">LinkUp</h1>
        </sidebar>
        <div class="grid-container" align="right">
        <div class="icon-navigation">
            <img href="C:\Users\Lindelwe\Documents\WRRV301\Implementation\StudentLinkUp(MVC)\Icons\\LearningMaterial.png" alt="Learning Material" width="200" height="200" />
        
            <img href="C:\Users\Lindelwe\Documents\WRRV301\Implementation\StudentLinkUp(MVC)\Icons\\feedback.png" alt="Review" width="200" height="200" caption="Learning Material"/>
       
        </div>
        <div class="icon-navigation">
            <img href="C:\Users\Lindelwe\Documents\WRRV301\Implementation\StudentLinkUp(MVC)\Icons\\Student.png" alt="Profile" width="200" height="200" />
           
            <img href="C:\Users\Lindelwe\Documents\WRRV301\Implementation\StudentLinkUp(MVC)\Icons\\transaction.png" alt="Transaction History" width="200" height="200" />
        </div>
        </div>
    </div>
</body>